<h3>Users</h3>
<p><button routerLink="/users/new" class="btn btn-outline-primary">Add User</button></p>
<table class="table table-bordered">
    <thead class="thead">
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Email</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of _users">
            <th>{{ user.id }}</th>
            <td>{{ user.name }}</td>
            <td>{{ user.email | lowercase }}</td>
            <td><a [routerLink]="['/users', user.id]"><i class="fa fa-pencil"></i></a></td>
            <td><a (click)="deleteUser(user)" href="javascript:void(0);"><i class="fa fa-trash"></i></a></td>
        </tr>
    </tbody>
</table>