<nav *ngIf="items && (items.length > pageSize)">
    <ul class="pagination">
        <li class="page-item" [ngClass]="{ disabled: currentPage == 1 }">
            <a (click)="selectPage(1)" class="page-link" href="javascript:void(0);"><span>&laquo;</span></a>
        </li>
        <li *ngFor="let page of pages; let i = index" [ngClass]="{ active: currentPage == i+1 }" class="page-item">
            <a (click)="selectPage(i+1)" class="page-link" href="javascript:void(0);">{{ i+1 }}</a>
        </li>
        <li class="page-item" [ngClass]="{ disabled: currentPage == pages.length }">
            <a (click)="selectPage(pages.length)" class="page-link" href="javascript:void(0);"><span>&raquo;</span></a>
        </li>
    </ul>
</nav>